body {
  margin: 70px;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  background-color: #c8c5bf; /* Optional: give it a nice background color */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #262b31;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Align buttons side by side */
.nav-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 2px;
}

/* Style for buttons */
.nav-container a {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #c8c5bf;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

.nav-container a:hover {
  background-color: #b1aea9;
}

/* Active link style */
.nav-container a.active-link {
  background-color: #9c9a97; /* Change the background color when active */
  color: white;
}